.field:invalid{ !important; }

.reg_box{
  overflow: hidden;
  width:60%;
  margin:auto;
  height:90%;
  background-color: #E6E6FA;

}

.field{  
  display:inline-block;
  float: left;
font-family: "Noto Sans", sans-serif;

 }

label{
 display: inline-block;
     float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

