table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  font-family: "Noto Sans", sans-serif;
  text-align: left;
  padding: 4px;
  font-color: white;
}
th {
  background-color: #162521; /* a2 */
  font-style: oblique;
  color:white;
}

a {
color: white;
}
tr:hover {background-color: #c0e0de;}

#resultSearch{
  background-color:#162521; 
  border-right: 20px solid #616283;
  width: 40%;
  height: 100%;
  overflow-y: scroll;
}

body{
background-color:#616283;
}


