form.search_bar2 input[type=text] {
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  border: 2px solid #162521;
  background: #f1f1f1;
  width: 90%;
  height: 45px;
}

form.search_bar2 {
 position: absolute;
 left:480px;
}

.search_button2 {
  position: relative;
  left:130px;
  width: 15%;
  background: #5F9EA0;
  color: white;
  font-size: 17px;
  border: 2px solid #162521;
  cursor: pointer;
  height: 45px;
}

.search_button2:hover {
  background: #5F9EA0;
}

form.search_bar2::after {
  content: "";
  clear: both;
  display: table;
}
